<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello Person</title>
  </head>
  <body>
    <div>
      Welcome <%= name %> <%= age %> years old
    </div>
  </body>
</html>