body {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body a {
  text-decoration: none;
}

.item {
  align-items: center;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 200px 500px;
  width: 700px;
}

.item.title {
  font-weight: bold;
  text-align: center;
}

.item .item-value {
  text-align: unset;
}

.item div {
  border-right: 1px solid gray;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.empty {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}
